################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CaseDetailsUpdater/FileContentIndex/39a75013-7058-41eb-8af2-82ad9907fa67.vsidx
CaseDetailsUpdater/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CaseDetailsUpdater/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
