<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="AuthType=AD;Url=http://10.196.12.60:5555/STADEV/main.aspx; Domain=sta; Username=crmapiuser; Password=St@_1990" />-->
    <add name="Xrm" connectionString="AuthType=IFD; Url=https://crm.sta.gov.sa/CRM/main.aspx; Domain=sta; Username=crmapiuser@sta.gov.sa; Password=St@_1990" />
  </connectionStrings>
  
</configuration>