<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <!--<add name="Xrm" connectionString="nL092R/ekcrIgsoAz2uqGwcnGa9OdvjnVJHeKWzBCRu2vCSaK8cuWqs/ApreH1sYPvPRrA/HX7Zy3mWuRM3lby4MpbGIaEOKYThRe2MDZdu65daUcVxr7H0rGYYlSyf2WvhOKyTtBHu/hj0k2Bc/jA==" />-->
   <add name="Xrm" connectionString="nL092R/ekcoJkbVQeqwR8OR79IFV3MC2IlcFLpMg9Fzdqeg8Euos2OgaYRs3SWoUDG54WMidVLXqI3UShpGOrie1O39boFCXvZ+dJUutI1dr+TkAEAeB55vwzlL0t0Y2iUz5dHeJAHxsCg8ioQB86rBHqt01m0Ps" />
  </connectionStrings>
  
</configuration> 